<div class='like-widget-container'
(click)='like()'
(keyup.enter)='like()'>
  <fa-icon
    [icon]="icons.faThumbsUp"
    role="button"
    tabindex="0"
    size="1x"
    [attr.aria-describedBy]='id'
   ></fa-icon>
  <span
    class='like-counter'
    [attr.id]='id'
    [attr.aria-label]='likes + ": people liked"'
    aria-atomic="true"
    aria-live="true">
    {{ likes }}
  </span>
</div>
